@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

img{
    max-width: 100%;
}

html{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body{
    max-width: 1100px;
    margin: auto;
}

.container{
    padding: 1.25rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: none;
}

.openMenu{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 65vw;
    bottom: 0;
    background: var(--Off-white);
    padding: 1rem;
    box-shadow: 4px, 4px, 4px rgba(0, 0, 0, 0.5);
    z-index: 2; 
}

.menu-list{
    position: absolute;
    bottom: 40%;
    list-style-type: none;
}



nav #close-menu{
    display: flex;
    border: none;
    background: transparent;
    outline: none;
    padding: 1.25rem;
    position: absolute;
    right:0;
    cursor: pointer;
}

.menu-list li{
   margin: 1.55rem;
}

.menu-list li a{
    text-decoration: none;
    color: var(--Very-dark-blue);
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

#menuBtn{
    background: transparent;
    outline: none;
    cursor: pointer;
    border: none;
}

header{
    padding: 1.25rem;
    padding-top: 0px;
}

article {
    padding-top: 0;
}

article h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

article p{
    line-height: 1.8;
    margin-bottom: 1rem;
}

article button{
    padding: 0.8rem 2rem;
    outline: none;
    border: none;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: var(--Soft-red);
    color: #fff;
}

article button:hover{
    background: var(--Very-dark-blue);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.hero-tile{
    margin-top: 3rem;
    color:var(--Off-white);
    background: var(--Very-dark-blue);
    padding: 1.25rem;
    padding-bottom: 0;
}

.hero-tile h2{
    color: var(--Soft-orange);
    padding-bottom: 1.4rem;
}

.hero-news{
    padding-bottom: 1.25rem;
}

.hero-news h4{
    padding-bottom: 0.7rem;
    font-weight: 700;
    font-size: 1.3rem;
} 

.hero-news h4:hover{
    color: var(--Soft-orange);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.hero-news p{
    padding-bottom: 2rem;
    font-size: 0.8rem;
    font-size: 1rem;
    color: var(--Grayish-blue);
} 

hr{
    border: 1px solid var(--Dark-grayish-blue);
}

.news-cards{
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    gap: 1.8rem;
}

.news-card{
    display: flex;
    flex-direction: row;
    gap: 1.45rem;
    width: 100%;
}

.news-card img{
    width: 150px;
}

.news-info{
     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: center;
     gap: 1rem;
}

.news-info span{
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--Grayish-blue);
    opacity: .9;
}

.news-info h4{
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--Very-dark-blue);
}

.news-info h4:hover{
    color: var(--Soft-red);
    cursor: pointer;
}

.news-info p{
    color: var(--Dark-grayish-blue);
    line-height: 1.5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:1024px) {
    .container{
        padding: 2rem;
    }

    .menuBtn{
        display: none;
    }

    .menu-list{
        display: flex;
        position: relative;
        list-style-type: none;
    }

    .menu-list li{
        margin: 0;
     }

    .menu-list a{
        text-decoration: none;
        font-size: 1rem;
        padding-right: 1rem;
        font-weight: 400;
        color: var(--Dark-grayish-blue);
        letter-spacing: normal;
    }

    .menu-list a:hover{
        color: var(--Soft-red);
    }

    header{
        display: flex;
        padding: 2rem;
        padding-top: 0;
        padding-bottom: 0;
        gap: 2rem;
        width: 100%;
    }

    .hero{
        width: 70%;
    }

    .hero img{
        width: 100%;
        height: 340px;
    }

    .hero article{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        place-items: center;
    }

    .hero article h1{
        font-size: 3rem;
        font-weight: 800;
    } 

    .hero-tile{
        margin-top: 0;
        width: 30%;
        margin-bottom: 2rem;
    }

    .hero-tile h2{
        font-size: 2.4rem;
    }

    .news-cards{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .news-info{
        gap: 0.5rem;
    }

    .news-card img{
        width: 30%;
    }

    .news-info h4{
        font-size: 1rem;
    }

    article p{
        line-height: 1.5;
    }

    nav #close-menu{
        display: none;
    }
    
    nav{
        display: flex;
    }
    #menuBtn{
        display: none;
    }
}